html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  height: 5rem;
  background-color: #485B45;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  margin-right: 2rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-links ul .nav-item {
  list-style-type: none;
  margin-left: 1rem;
}

.nav-item {
  display: flex;
  align-self: center;
}

.nav-item a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #cdffe6;
}

.nav-item a:hover {
  color: #82B661;
}

.hero {
  background-color: #cdffe6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero .hero-text {
  margin-top: -5rem;
}

.hero .hero-text .title {
  font-weight: 700;
  font-size: 5rem;
}

.about-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.about-container .blurb {
  margin-left: 2rem;
  width: 50%;
  font-size: 2rem;
}

.about-container .blurb p {
  margin-top: 0;
}

@media screen and (max-width: 950px) {
  .about-container {
    align-items: center;
    flex-direction: column;
  }
  .about-container .blurb {
    width: 75%;
  }
}

.image-placeholder {
  height: 500px;
  width: 500px;
  background-color: #82B661;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1250px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
}

.featured-products {
  background-color: #82B661;
}

.featured-products .product-link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2rem;
  color: #cdffe6;
  background-color: #485B45;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.featured-products .product-link:hover {
  color: #82B661;
}

.product {
  width: 400px;
}

.product .price {
  font-weight: 300i;
}

.product .product-pic {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: #485B45;
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .product {
    width: 75%;
    height: 50%;
  }
}

.mission-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mission-container .mission-text {
  font-size: 2rem;
  width: 33%;
}

.mission-container .mission-text .title {
  font-weight: 700;
  font-style: italic;
}

@media screen and (max-width: 450px) {
  .mission-container .mission-text {
    width: 75%;
    font-size: 1.5rem;
  }
}

.mission-container .mission-image {
  width: 500px;
  height: 500px;
  background-color: #485B45;
}

@media screen and (max-width: 950px) {
  .mission-container {
    flex-direction: column;
    align-items: center;
  }
  .mission-container .mission-image {
    width: 300px;
    height: 300px;
  }
}
/*# sourceMappingURL=index.css.map */