html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
}

.navbar {
  height: 5em;
  background-color: #485B45;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  margin-right: 2em;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-links ul .nav-item {
  list-style-type: none;
}

.nav-item {
  display: flex;
  align-self: center;
}

.nav-item a {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-decoration: none;
  color: #cdffe6;
  transition: .5s;
}

.nav-item a:hover {
  color: #485B45;
  background-color: #cdffe6;
}

.hero {
  background-image: url("assets/headerbg.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: saturate(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero .hero-text {
  margin-top: -10rem;
}

.hero .hero-text .title {
  font-weight: 700;
  font-size: 5rem;
}

.about-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about-container .about-left {
  display: block !important;
  width: 50% !important;
  float: left;
  text-align: center;
}

.about-container .about-left .about-image {
  height: auto;
  width: 90%;
  padding: 5%;
}

.about-container .about-right {
  display: flex;
  justify-content: center;
  width: 50% !important;
  float: right;
}

.about-container .about-right .blurb {
  margin-left: 2rem;
  font-size: 2rem;
}

.about-container .about-right .blurb p {
  margin-top: 0;
  color: #454746;
}

@media screen and (max-width: 450px) {
  .about-container .about-right .blurb {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 950px) {
  .about-container {
    align-items: center;
    flex-direction: column;
  }
  .about-container .about-left {
    width: 100% !important;
  }
  .about-container .about-right {
    width: 100% !important;
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 1250px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
}

.featured-products {
  background-color: #cdffe6;
  padding: 65px 10px;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

.featured-products .product-link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2rem;
  transition: .2s;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  color: #cdffe6;
  background-color: #82B661;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.featured-products .product-link:hover {
  transform: translateY(2px);
  color: #485B45;
}

.product {
  width: 400px;
}

.product .product-name {
  color: #454746;
}

.product .price {
  color: #454746;
  font-weight: 300i;
}

.product .product-pic {
  background-color: #fafffd;
  padding: 10px;
  margin-top: 3rem;
  background-size: cover;
  height: auto;
  width: 100%;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
}

@media screen and (max-width: 450px) {
  .product {
    width: 75%;
    height: 50%;
  }
}

.title {
  color: #2f302f;
  font-weight: 700;
  font-style: italic;
}

.mission-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mission-container .left {
  text-align: center;
  display: block !important;
  width: 50% !important;
  float: left;
}

.mission-container .right {
  display: flex;
  justify-content: center;
  width: 50% !important;
  float: right;
}

.mission-container .mission-text {
  color: #454746;
  font-size: 2rem;
  width: 90%;
}

@media screen and (max-width: 450px) {
  .mission-container .mission-text {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.mission-container .mission-image {
  padding: 5%;
  height: auto;
  width: 90%;
}

@media screen and (max-width: 950px) {
  .mission-container {
    flex-direction: column;
    align-items: center;
  }
  .mission-container .left {
    width: 100% !important;
  }
  .mission-container .right {
    width: 100% !important;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #cdffe6;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

.contact-container h1 {
  padding-top: 3%;
  color: #454746;
  font-size: 2rem;
  font-weight: 300;
}

.contact-container .contact-form {
  padding-bottom: 3%;
  width: 950px;
  display: flex;
  flex-direction: column;
}

.contact-container .contact-form .contact-label {
  text-transform: uppercase;
  color: #454746;
  letter-spacing: .2rem;
  margin-top: 1rem;
}

.contact-container .contact-form .form-input {
  padding: 5px;
  height: 3rem;
  font-size: 2rem;
}

.contact-container .contact-form .form-textarea {
  font-size: 1.5rem;
}
/*# sourceMappingURL=index.css.map */