$primary: #485B45;
$secondary: #82B661;
$background: rgb(205, 255, 230);

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  height: 5rem;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  margin-right: 2rem;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  .nav-item {
    list-style-type: none;
    margin-left: 1rem;
  }
}

.nav-item {
  a {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    color: $background;
    &:hover {
      color: $secondary;
    }
  }
  display: flex;
  align-self: center;
}

.hero {
  background-color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .hero-text {
    margin-top: -5rem;
  }
}

.about-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  .blurb {
    margin-left: 2rem;
    width: 600px;
    font-size: 1.5rem;

    p {
      margin-top: 0;
    }

  }

  @media screen and (max-width: 950px) {
    align-items: center;
    flex-direction: column;
  }
}

.image-placeholder {
  height: 300px;
  width: 300px;
  background-color: $secondary;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 1250px) {
    flex-direction: column;
    align-items: center;
  }
}

.featured-products {
  background-color: $secondary;

  .product-link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;

    color: $background;
    background-color: $primary;

    &:hover {
      color: $secondary;
    }

    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-bottom: 2rem;
    margin: 0 auto;

    width: 200px;
    height: 50px;
  }
}

.product {
  .price {
    font-weight: 300i;
  }
  .product-pic {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: $primary;
    height: 400px;
    width: 400px;
  }
}

.mission-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .mission-text {
    width: 50%;
  }
  .mission-image {
    width: 500px;
    height: 500px;
    background-color: $primary;
  }

  @media screen and (max-width: 950px) {
    flex-direction: column;
    align-items: center;
  }
}
