$primary: #485B45;
$secondary: #82B661;
$background: rgb(205, 255, 230);

$lgwidth: 500px;
$lgheight: 500px;

$textgray: #616161;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  height: 5em;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  margin-right: 2em;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;

  .nav-item {
    list-style-type: none;
  }
}

.nav-item {

  a {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    color: $background;
    transition: .5s;
    &:hover {
      color: $primary;
      background-color: $background;
    }
  }

  display: flex;
  align-self: center;

}

.hero {
  background-image: url('assets/headerbg.jpg');
  background-size: cover;
  background-attachment: fixed;
  filter: saturate(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .hero-text {
    margin-top: -10rem;
    .title {
      font-weight: 700;
      font-size: 5rem;
    }
  }

}

.about-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 800px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

  .blurb {
    margin-left: 2rem;
    width: 50%;
    font-size: 2rem;

    p {
      margin-top: 0;
      color: $textgray;
    }

  }

  .image-placeholder {
    height: $lgheight;
    width: $lgwidth;
    background-color: $secondary;
  }

  @media screen and (max-width: 950px) {
    align-items: center;
    flex-direction: column;

    .blurb {
      width: 75%;
      font-size: 1.5rem;
    }

    .image-placeholder {
      width: 300px;
      height: 300px;
      margin-bottom: 2rem;
    }
  }
}


.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 1250px) {
    flex-direction: column;
    align-items: center;
  }
}

.featured-products {
  background-color: $secondary;
  padding: 65px 10px;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  
  .product-link {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2rem;
    transition: .2s;
    
    color: $background;
    background-color: $primary;
    
    &:hover {
      transform: translateY(2px);
      color: $secondary;
    }
    
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-bottom: 2rem;
    margin: 0 auto;
    
    width: 200px;
    height: 50px;
  }
}

.product {
  width: 400px;
  
  .price {
    font-weight: 300i;
  }
  
  .product-pic {
    margin-top: 3rem;
    background-size: cover;
    height: auto;
    width: 100%;
  }
  
  @media screen and (max-width: 450px) {
    width: 75%;
    height: 50%;
  }
}

.mission-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  .left {
    text-align: center;
    display: block !important;
    width: 50% !important;
    float: left;
  }
  
  .right {
    display: flex;
    justify-content: center;
    width: 50% !important;
    float: right;
  }
  
  .mission-text {
    color: $textgray;
    font-size: 2rem;
    width: 90%;
    
    .title {
      color: #2f302f;
      font-weight: 700;
      font-style: italic;
    }
    
    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }

  .mission-image {
    padding: 5%;
    height: auto;
    width: 90%;
  }
  
  @media screen and (max-width: 950px) {
    flex-direction: column;
    align-items: center;
    
    .left {
      width: 100% !important;
    }
    .right {
      width: 100% !important;
    }
  }
  
}
