html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fauna One', sans-serif;
  max-width: 100vw;
}

.topnav {
  background-color: #485B45;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  display: block;
  color: #cdffe6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #82B661;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.hero {
  background-image: url("assets/forest.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.hero .hero-text {
  text-align: center;
  margin-top: -10rem;
  color: white;
}

.hero .hero-text .title {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 5rem;
}

.hero .hero-text .subtitle {
  font-weight: 300;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 767px) {
  .hero {
    background-size: 100% !important;
  }
}

.about-container {
  background: #485B45;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about-container .about {
  font-size: 10px;
}

.about-container .about-left {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: block !important;
  float: left;
  text-align: center;
}

.about-container .about-left .about-image {
  background-color: white;
  height: auto;
  width: 75%;
}

.about-container .about-right {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-items: flex-start;
  width: 50% !important;
  float: right;
}

.about-container .about-right .blurb {
  font-size: 2rem;
}

.about-container .about-right .blurb .title {
  font-family: 'Playfair Display' , serif;
  font-weight: 700;
}

.about-container .about-right .blurb p {
  margin-top: 0;
  color: white;
}

@media screen and (max-width: 450px) {
  .about-container .about-right .blurb {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1250px) {
  .about-container {
    align-items: center;
    flex-direction: column;
  }
  .about-container .about-left {
    margin-bottom: 0;
    width: 75% !important;
  }
  .about-container .about-right {
    margin-top: 0;
    width: 100% !important;
  }
  .about-container .about-right .blurb {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .about-container .about-left {
    width: 100% !important;
  }
}

.featured-products {
  background-color: #485B45;
  padding: 65px 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
}

.featured-products .product-link {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2rem;
  transition: .2s;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  color: #cdffe6;
  background-color: #82B661;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.featured-products .product-link:hover {
  transform: translateY(2px);
  color: #485B45;
}

.product {
  width: 25%;
}

.product .product-name {
  color: white;
}

.product .price {
  color: white;
  font-weight: 300i;
}

.product .product-pic {
  background-color: #fafffd;
  padding: 10px;
  background-size: cover;
  height: auto;
  width: 100%;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
}

@media screen and (max-width: 1250px) {
  .product {
    width: 75%;
    height: auto;
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1rem;
}

@media screen and (max-width: 1250px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
}

.mission-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mission-container .left {
  text-align: center;
  display: block !important;
  width: 50% !important;
  float: left;
}

.mission-container .right {
  display: flex;
  justify-content: center;
  width: 50% !important;
  float: right;
}

.mission-container .mission-text {
  color: #454746;
  font-size: 2rem;
  width: 90%;
}

.mission-container .mission-text .title {
  color: #454746;
  font-family: 'Playfair Display' , serif;
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  .mission-container .mission-text {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.mission-container .mission-image {
  padding: 5%;
  height: auto;
  width: 50%;
}

@media screen and (max-width: 1250px) {
  .mission-container {
    flex-direction: column;
    align-items: center;
  }
  .mission-container .left {
    width: 100% !important;
  }
  .mission-container .right {
    width: 100% !important;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #485B45;
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

.contact-container h1 {
  margin-top: 0;
  color: #454746;
  font-size: 3rem;
  font-weight: 300;
}

.contact-container .contact-form {
  padding: 8%;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.contact-container .contact-form .contact-label {
  text-transform: uppercase;
  color: #454746;
  letter-spacing: .2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-container .contact-form .form-name {
  padding: 5px;
  height: 3rem;
  font-size: 2rem;
}

.contact-container .contact-form .form-email {
  padding: 5px;
  height: 3rem;
  font-size: 2rem;
}

.contact-container .contact-form .form-textarea {
  font-size: 1.5rem;
}

.contact-container .contact-form .contact-button {
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2rem;
  transition: .2s;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  color: #cdffe6;
  background-color: #82B661;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 200px;
  height: 50px;
}

.contact-container .contact-form .contact-button:hover {
  transform: translateY(2px);
  color: #485B45;
}

@media screen and (max-width: 450px) {
  .contact-container .contact-form .form-name {
    height: 1.5em;
    font-size: 1rem;
  }
  .contact-container .contact-form .form-email {
    height: 1.5rem;
    font-size: 1rem;
  }
  .contact-container .contact-form .form-textarea {
    font-size: 1rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100vw;
}

.prod-title {
  margin-left: 2rem;
  font-size: 5rem;
  color: #454746;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-list .product {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.product-list .product h2, .product-list .product h3 {
  margin-top: 0;
}

.product-list .product img {
  margin-bottom: 2rem;
  height: auto;
  width: 350px;
}
/*# sourceMappingURL=products.css.map */